@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;

:root {
    --primary: #0d0d0e;
    --secondary: #fbbf24;
  }


@tailwind components;
@tailwind utilities;

@layer base {
    /* firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
  }

  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

  ::selection{
    background: var(--secondary);
    color: var(--primary);
  }


}